body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
}

nav button {
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

main {
    padding: 20px;
}

.plant-info img {
    max-width: 100%;
    height: auto;
}

.plant-info, .caretakers, .tasks {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
